<% if book.favorited_by?(current_user) %>
  <td><%= link_to book.favorites.count, book_favorites_path(book), method: :delete, class: "glyphicon glyphicon-heart" %></td>
<% else %>
  <td><%= link_to book.favorites.count, book_favorites_path(book), method: :post, class: "glyphicon glyphicon-heart-empty" %></td>
<% end %>
